body {
  font-size: 1.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(235, 238, 241);
}

.app {
  min-height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 200px;
  position: absolute;
  left: 100px;
}

.search-button {
  color: #ffffff;
  border: 1px solid #326752;
  font-size: 16px;
  background-image: linear-gradient(-180deg, #00bc6f 0%, #0d9c52 100%);
  padding: 0.4rem 1.2rem;
  border-radius: 0.4rem;
  margin: 0 20px;
  cursor: pointer;
  &:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#00bc6f),
      to(#00aa65)
    );
  }
}

.search-bar {
  width: 100%;
  max-width: 500px;
  margin: 2rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  input {
    display: block;
    width: 100%;
    height: calc((1.5 * 1em) + (0.4rem * 2) + (1px * 2));
    font-size: 1.4rem;
    line-height: 1.5;
    color: #1b2830;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #c5c9ce;
    border-radius: 0.4rem;
    padding: 0.4rem 1rem;
    &:focus {
      border: 2px solid #8241aa;
      outline: none;
    }
  }
}

.display-area {
  flex: 1;
  width: 80%;
  background: #ffffff;
  padding-top: 20px;
  box-shadow: 0 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.025);
  .display-area-header {
    font-weight: 500;
    width: 80%;
    margin: 20px auto;
  }
  .header-line {
    height: 2px;
    background-color: grey;
    width: 80%;
    margin: 0px auto;
  }
}

.row-content {
  display: flex;
  justify-content: center;
}

.display-item {
  padding: 10px 0 10px 0;
  margin: 0 auto;
  width: 80%;
  &:hover {
    background-color: rgb(243, 244, 245);;
  }
}

.content-divider {
  height: 1.5px;
  background-color: #C0C0C0;
  width: 80%;
  margin: 0px auto;
}



